.form {
  max-width: 385px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  font-weight: 500;
  margin: 0 0 8px;
}

.form__input {
  border: #838383 solid;
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  border-style: none;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #fff;
  font-weight: 500;
  height: 60px;
  margin-bottom: 32px;
  width: 100%;
  cursor: pointer;
}

.form__button:hover {
  opacity: 70%;
  transition: opacity 2s;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}

.form__checkbox-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
